<h1>Adicionar Dia de Trabalho ♬</h1>
<%= form_for :workday, url: workdays_path do |f| %>
    <p>
        <%= f.label :day, "Dia" %> <br>
        <%= f.date_field(:day) %>
    </p>
    <p>
        <%= f.label :arrivaltime, "Hora de chegada" %><br>
        <%= f.datetime_field(:arrivaltime) %>
    </p>
    <p>
    <%= f.check_box(:lunch) %>
    <%= f.label(:lunch, "Eu fui comer.") %>
    </p>
    <p class="lunch_time">
        <%= f.label :lunchleave, "Hora de saída pro almoço" %><br>
        <%= f.datetime_field(:lunchleave) %>
    </p>
    <p class="lunch_time">
        <%= f.label :lunchback, "Hora de volta do almoço" %><br>
        <%= f.datetime_field(:lunchback) %>
    </p>
    <p>
        <%= f.label :departuretime, "Hora de saída" %><br>
        <%= f.datetime_field(:departuretime) %>
    </p>
    <p>Hora estimada de saída</p>
    <div class="estimatedtime">

    </div>


    <p>
    <%= f.submit "Save" %>
    </p>
<% end %>






