<p>
Data:
<%= @workday.day %>
</p>
Hora de chegada:
<%= @workday.arrivaltime %>
<p>
</p>
Saiu para almoço?
<%= @workday.lunch %>
<p>
</p>
Hora de Saída:
<%= @workday.departuretime %>
<p>
Horas trabalhadas no dia:
<%= @workday.duration %>
</p>
<p>
</p>
<p>
</p>
<p>
</p>